:root {
    --eleveightstudiowhite-wild-sand: rgba(255, 255, 255, 1);
    --eleveightstudiowild-sand: rgba(247, 247, 247, 1);
    --eleveightstudiowhite: rgba(255, 255, 255, 1);
    --eleveightstudioblack: rgba(0, 0, 0, 1);
    --eleveightstudioblack-4: rgba(0, 0, 0, 0.04);
    --eleveightstudioaztec: rgba(17, 35, 30, 1);
    --eleveightstudioelectric-lime: rgba(208, 255, 0, 1);
    --eleveightstudiocod-gray: rgba(23, 23, 23, 1);
    --eleveightstudiodusty-gray: rgba(150, 150, 150, 1);
    --eleveightstudiomine-shaft: rgba(56, 56, 56, 1);
    --eleveightstudionobel: rgba(181, 181, 181, 1);
    --eleveightstudioalabaster: rgba(252, 252, 252, 1);
    --eleveightstudiogray: rgba(145, 145, 145, 1);
    --eleveightstudioblack-6: rgba(0, 0, 0, 0.06);
    --eleveightstudiowhite-80: rgba(255, 255, 255, 0.8);
    --eleveightstudioboulder: rgba(122, 122, 122, 1);
    --eleveightstudiogreen-white: rgba(242, 243, 235, 1);
    --eleveightstudioconcrete: rgba(242, 242, 242, 1);
    --eleveightstudioblack-9: rgba(0, 0, 0, 0.09);
    --eleveightstudioalto: rgba(222, 222, 222, 1);
    --eleveightstudioalice-blue: rgba(240, 249, 255, 1);
    --eleveightstudioazure-radiance: rgba(0, 157, 255, 1);
    --eleveightstudioazure-radiance-20: rgba(0, 157, 255, 0.2);
    --eleveightstudiogallery: rgba(237, 237, 237, 1);
    --eleveightstudiodove-gray: rgba(110, 110, 110, 1);
    --eleveightstudiomagnolia: rgba(247, 242, 255, 1);
    --eleveightstudioelectric-violet: rgba(133, 71, 255, 1);
    --eleveightstudioelectric-violet-18: rgba(133, 71, 255, 0.18);
    --eleveightstudiomine-shaft-30: rgba(34, 34, 34, 0.3);
    --eleveightstudiowhite-56: rgba(255, 255, 255, 0.56);
    --eleveightstudiowhite-8: rgba(255, 255, 255, 0.08);
    --eleveightstudiowhite-50: rgba(255, 255, 255, 0.5);
    --eleveightstudiowhite-4: rgba(255, 255, 255, 0.04);
    --eleveightstudiocornflower-blue: rgba(112, 107, 255, 1);
    --eleveightstudiohollywood-cerise: rgba(255, 0, 166, 1);
    --eleveightstudioroyal-blue: rgba(87, 81, 240, 1);
    --eleveightstudiogovernor-bay: rgba(51, 46, 209, 1);
    --eleveightstudioscorpion: rgba(94, 94, 94, 1);
    --eleveightstudiowhite-16: rgba(255, 255, 255, 0.16);
    --eleveightstudiowhite-12: rgba(255, 255, 255, 0.12);
    --eleveightstudioblack-16: rgba(0, 0, 0, 0.16);
    --eleveightstudioblack-60: rgba(0, 0, 0, 0.6);
    --neutral-300: rgba(239, 240, 246, 1);
    --eleveight-studio-satoshi-medium-14-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-14-font-weight: 500;
    --eleveight-studio-satoshi-medium-14-font-size: 14px;
    --eleveight-studio-satoshi-medium-14-letter-spacing: -0.2800000011920929px;
    --eleveight-studio-satoshi-medium-14-line-height: 16.799999237060547px;
    --eleveight-studio-satoshi-medium-14-font-style: normal;
    --eleveight-studio-satoshi-medium-19-22-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-19-22-font-weight: 500;
    --eleveight-studio-satoshi-medium-19-22-font-size: 19.21875px;
    --eleveight-studio-satoshi-medium-19-22-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-19-22-line-height: 24px;
    --eleveight-studio-satoshi-medium-19-22-font-style: normal;
    --eleveight-studio-satoshi-medium-19-38-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-19-38-font-weight: 500;
    --eleveight-studio-satoshi-medium-19-38-font-size: 19.375px;
    --eleveight-studio-satoshi-medium-19-38-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-19-38-line-height: 24px;
    --eleveight-studio-satoshi-medium-19-38-font-style: normal;
    --eleveight-studio-satoshi-medium-18-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-18-font-weight: 500;
    --eleveight-studio-satoshi-medium-18-font-size: 18.000003814697266px;
    --eleveight-studio-satoshi-medium-18-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-18-line-height: 21.600000381469727px;
    --eleveight-studio-satoshi-medium-18-font-style: normal;
    --eleveight-studio-satoshi-medium-15-63-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-15-63-font-weight: 500;
    --eleveight-studio-satoshi-medium-15-63-font-size: 15.625px;
    --eleveight-studio-satoshi-medium-15-63-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-15-63-line-height: 22.399999618530273px;
    --eleveight-studio-satoshi-medium-15-63-font-style: normal;
    --eleveight-studio-satoshi-medium-15-5-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-15-5-font-weight: 500;
    --eleveight-studio-satoshi-medium-15-5-font-size: 15.5px;
    --eleveight-studio-satoshi-medium-15-5-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-15-5-line-height: 19.200000762939453px;
    --eleveight-studio-satoshi-medium-15-5-font-style: normal;
    --eleveight-studio-satoshi-medium-17-44-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-17-44-font-weight: 500;
    --eleveight-studio-satoshi-medium-17-44-font-size: 17.4375px;
    --eleveight-studio-satoshi-medium-17-44-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-17-44-line-height: 21.600000381469727px;
    --eleveight-studio-satoshi-medium-17-44-font-style: normal;
    --eleveight-studio-satoshi-medium-16-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-16-font-weight: 500;
    --eleveight-studio-satoshi-medium-16-font-size: 16.000001907348633px;
    --eleveight-studio-satoshi-medium-16-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-16-line-height: 19.200000762939453px;
    --eleveight-studio-satoshi-medium-16-font-style: normal;
    --eleveight-studio-satoshi-medium-20-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-20-font-weight: 500;
    --eleveight-studio-satoshi-medium-20-font-size: 20px;
    --eleveight-studio-satoshi-medium-20-letter-spacing: -0.4000000059604645px;
    --eleveight-studio-satoshi-medium-20-line-height: 24px;
    --eleveight-studio-satoshi-medium-20-font-style: normal;
    --eleveight-studio-satoshi-medium-17-3-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-17-3-font-weight: 500;
    --eleveight-studio-satoshi-medium-17-3-font-size: 17.296875px;
    --eleveight-studio-satoshi-medium-17-3-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-17-3-line-height: 21.600000381469727px;
    --eleveight-studio-satoshi-medium-17-3-font-style: normal;
    --eleveight-studio-satoshi-medium-15-38-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-15-38-font-weight: 500;
    --eleveight-studio-satoshi-medium-15-38-font-size: 15.375px;
    --eleveight-studio-satoshi-medium-15-38-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-15-38-line-height: 19.200000762939453px;
    --eleveight-studio-satoshi-medium-15-38-font-style: normal;
    --eleveight-studio-satoshi-medium-12-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-12-font-weight: 500;
    --eleveight-studio-satoshi-medium-12-font-size: 12px;
    --eleveight-studio-satoshi-medium-12-letter-spacing: -0.23999999463558197px;
    --eleveight-studio-satoshi-medium-12-line-height: 14.399999618530273px;
    --eleveight-studio-satoshi-medium-12-font-style: normal;
    --eleveight-studio-satoshi-medium-22-font-family: "Satoshi", Helvetica;
    --eleveight-studio-satoshi-medium-22-font-weight: 500;
    --eleveight-studio-satoshi-medium-22-font-size: 22px;
    --eleveight-studio-satoshi-medium-22-letter-spacing: 0px;
    --eleveight-studio-satoshi-medium-22-line-height: 26.399999618530273px;
    --eleveight-studio-satoshi-medium-22-font-style: normal;
    --eleveight-studio-albert-sans-regular-44-font-family: "Albert Sans",
      Helvetica;
    --eleveight-studio-albert-sans-regular-44-font-weight: 400;
    --eleveight-studio-albert-sans-regular-44-font-size: 44px;
    --eleveight-studio-albert-sans-regular-44-letter-spacing: -1.3200000524520874px;
    --eleveight-studio-albert-sans-regular-44-line-height: 52.79999923706055px;
    --eleveight-studio-albert-sans-regular-44-font-style: normal;
    --eleveight-studio-albert-sans-regular-80-font-family: "Albert Sans",
      Helvetica;
    --eleveight-studio-albert-sans-regular-80-font-weight: 400;
    --eleveight-studio-albert-sans-regular-80-font-size: 80px;
    --eleveight-studio-albert-sans-regular-80-letter-spacing: -1.600000023841858px;
    --eleveight-studio-albert-sans-regular-80-line-height: 64px;
    --eleveight-studio-albert-sans-regular-80-font-style: normal;
    --eleveight-studio-albert-sans-regular-26-underline-font-family: "Albert Sans",
      Helvetica;
    --eleveight-studio-albert-sans-regular-26-underline-font-weight: 400;
    --eleveight-studio-albert-sans-regular-26-underline-font-size: 26px;
    --eleveight-studio-albert-sans-regular-26-underline-letter-spacing: 0px;
    --eleveight-studio-albert-sans-regular-26-underline-line-height: 36.400001525878906px;
    --eleveight-studio-albert-sans-regular-26-underline-font-style: normal;
    --eleveight-studio-albert-sans-regular-71-font-family: "Albert Sans",
      Helvetica;
    --eleveight-studio-albert-sans-regular-71-font-weight: 400;
    --eleveight-studio-albert-sans-regular-71-font-size: 71px;
    --eleveight-studio-albert-sans-regular-71-letter-spacing: -2.8399999141693115px;
    --eleveight-studio-albert-sans-regular-71-line-height: 71px;
    --eleveight-studio-albert-sans-regular-71-font-style: normal;
    --eleveight-studio-albert-sans-regular-26-font-family: "Albert Sans",
      Helvetica;
    --eleveight-studio-albert-sans-regular-26-font-weight: 400;
    --eleveight-studio-albert-sans-regular-26-font-size: 26px;
    --eleveight-studio-albert-sans-regular-26-letter-spacing: -1.0399999618530273px;
    --eleveight-studio-albert-sans-regular-26-line-height: 31.200000762939453px;
    --eleveight-studio-albert-sans-regular-26-font-style: normal;
    --eleveight-studio-sansserif-regular-18-font-family: "SansSerif", Helvetica;
    --eleveight-studio-sansserif-regular-18-font-weight: 400;
    --eleveight-studio-sansserif-regular-18-font-size: 18px;
    --eleveight-studio-sansserif-regular-18-letter-spacing: 0px;
    --eleveight-studio-sansserif-regular-18-line-height: normal;
    --eleveight-studio-sansserif-regular-18-font-style: normal;
    --text-single-200-bold-font-family: "DM Sans", Helvetica;
    --text-single-200-bold-font-weight: 700;
    --text-single-200-bold-font-size: 18px;
    --text-single-200-bold-letter-spacing: 0px;
    --text-single-200-bold-line-height: 20px;
    --text-single-200-bold-font-style: normal;
    --backfrop1: 1px 1px 11px 0px rgba(0, 0, 0, 0.28);
    --bg: 3px 1px 0px 0px rgba(0, 0, 0, 1);
    --cards-short-default: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
  }